* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100vh;
  min-width: 400px;
}
/* ---------------------BACKGROUND COLORS -----------------*/
.container-fluid {
  background-color: #fff5e2;
}

.bg-white {
  background-color: white;
}
.bg-orange {
  background-color: #fdbb40;
}
.bg-red {
  background-color: #d33359;
}
/* ---------------------END BACKGROUND COLORS -----------------*/

/* --------------------- HEADER SETTINGS -----------------*/
.my-container {
  position: relative;
}
.my-container > img {
  position: absolute;
  top: -30px;
  right: -60px;
  z-index: 2;
  overflow-x: hidden;
}
/* --------------------- END HEADER SETTINGS -----------------*/
.w-60 {
  width: 60%;
  margin: 0 auto;
}

/* --------------------- MAIN SETTINGS -----------------*/
input[type='text'] {
  border: none;
  padding: 10px 0;
  width: 300px;
}
input::placeholder {
  color: grey;
  font-size: 30px;
}
#burger-name {
  font-size: 30px;
}
.img-ingredients {
  width: 60px;
}

input:focus {
  outline: none;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  content: '';
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-color: #d33359;
  border-radius: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

input[type='checkbox']::after {
  display: none;
  content: '✓';
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input[type='checkbox']:hover {
  box-shadow: inset 0 18x 3px rgba(0, 0, 0, 0.5), 0 0 0 rgba(0, 0, 0, 0.2);
}

input[type='checkbox']:checked::after {
  display: block;
}

label {
  font-size: 22px;
  color: #d33359;
  font-weight: bold;
}
.mb-6 {
  margin-bottom: 150px;
}
/* --------------------- END MAIN SETTINGS -----------------*/

/* --------------------- DISCOUNT SETTINGS -----------------*/

#discount-code {
  border-radius: 10px;
  background-color: #fff5e2;
  height: 30px;
  width: 70%;
  padding-left: 10px;
}

#discount-code::placeholder {
  font-size: 18px;
}

.ms-btn {
  padding: 15px;
  background-color: orange;
  color: black;
  font-size: 26px;
  width: 150px;
  height: 70px;
  border: none;
  border-radius: 15px;
}

.ms-btn:hover {
  background-color: rgb(192, 137, 36);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.ms-btn:active {
  color: #ffff;
}

/* --------------------- END DISCOUNT SETTINGS -----------------*/

/* --------------------- FOOTER SETTINGS -----------------*/
.text-white {
  color: white;
}
/* --------------------- FOOTER SETTINGS -----------------*/

@media screen and (min-width: 0px) and (max-width: 500px) {
  .my-container > img {
    display: none;
  }
}
